<div class="panel panel-chat panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
     <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    {control form}
  </div>
</div>